<template>
  <div>
    <video
      ref="video"
      width="1000"
      height="1000"
      control
      class="flipped-webcam"
      @canplay="initCanvas()"
    >
      Stream unvaliable
    </video>
    <canvas ref="canvas" style="display: none"></canvas>
    <button @click="takePicture()">拍照</button>
    <img :src="imgSrc" alt="" class="flipped-selfie" />
  </div>
</template>
<script setup lang="ts">
import { ref, onMounted } from "vue";
// 視訊的參考
const video = ref<HTMLVideoElement | null>(null);
// 畫布的參考
const canvas = ref<HTMLCanvasElement | null>(null);
// 畫面截圖
const imgSrc = ref("");

/**
 * 開啟鏡頭抓取的方法
 */
async function startCapture() {
  navigator.mediaDevices
    .getUserMedia({ video: true, audio: false })
    .then((stream) => {
      // stream 就是模板裡面 video
      video.value!.srcObject = stream;
      video.value!.play();
    })
    .catch((error) => {
      console.log(error);
    });
}

/**
 * 在 webcam 錄像開始時，先畫好畫布
 */
function initCanvas() {
  canvas.value!.width = video.value!.offsetWidth;
  canvas.value!.height = video.value!.offsetHeight;
}

/**
 * 在 webcam 錄像開始時，先畫好畫布
 */
function takePicture() {
  const context = canvas.value?.getContext("2d");
  context!.drawImage(
    video.value!, //CanvasImageSource: 可以包含許多 HTML....的型態
    0,
    0,
    video.value!.offsetWidth,
    video.value!.offsetHeight
  );
  imgSrc.value = canvas.value!.toDataURL("image/png");
}

/**
 * 進來畫面就開始抓取
 */
onMounted(async () => {
  await startCapture();
});
</script>

<style scoped>
/* 左右翻轉的webcam，使符合現實中的左右 */
.flipped-webcam {
  transform: scaleX(-1);
}

.flipped-selfie {
  transform: scaleX(-1);
}
</style>
